@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url('../img/bgimg2.jpg') top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    }

section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 600px;
    width: 275px;
    border-radius: 30px;
    background-color: blue;
    background: blue url('../img/galaxys20.png') no-repeat;
}
iframe#tela{
    position: relative;
    top: 8px;
    left: 6px;
    width: 262px;
    height: 579px;
    border-radius: 25px;
}