@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url('../img/bgimg2.jpg') top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    }

section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 600px;
    width: 275px;
    border-radius: 30px;
    background-color: blue;
    background: blue url('../img/galaxys20.png') no-repeat;
}
iframe#tela{
    position: relative;
    top: 8px;
    left: 6px;
    width: 262px;
    height: 579px;
    border-radius: 25px;
}

.social{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate( -50%, -50%);
    height: 500px;
    width: 65px;
    border-radius: 30px;
    background-color: rgba(4, 83, 11, 0.664);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}
.social h1{
    font-size: 15px;
    color: white;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.social a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.329);
    background: lime;
    color: white;
    display: block;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.336);
    line-height: 55px;
    margin-left: 7px;
    margin-bottom: 35px;

}
.social a:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.644);
    background: blue;
    transition: 1s;
}